{{set . "title" "Upload CP files"}}
{{$models := .models}}
{{$types := .types}}
{{template "header.html" .}}
{{.flash.error}}
<h1>Upload CP:</h1>

<div id="CP">
    <form enctype="multipart/form-data" action="{{url "Radio.PostUpload"}}" method="POST" class="form-inline">
    
    {{with $field := field "ca.Model" .}}
    <p class="field">
      <label>Model:</label>
        <select name="{{$field.Name}}">
        {{range $k, $v := $models}}
            {{option $field $v $v }}
        {{end}}
        </select>
    </p>
    {{end}}
    <p>------------------------------------------------------</p>
    {{with $field := field "ca.Type" .}}
    <p class="field">
      <label>Type:</label>
        <select name="{{$field.Name}}">
        {{range $k, $v := $types}}
            {{option $field $v $v }}
        {{end}}
        </select>
    </p>
    {{end}}
    <p>------------------------------------------------------</p>
    <p class="field">
        <label>Version: (fmt: X.XXX.XXX)</label>
        {{with $field := field "ca.Version" .}}
        <input type="text" name="{{$field.Name}}" size="19" value="{{or $field.Flash $field.Value}}" />
        <span class="error">{{$field.Error}}</span>
        {{end}}
    </p>
    <p>------------------------------------------------------</p>
    <p class="field">
        <label for="cp">CP:</label> <input id="cp" name="cp" type="file" accept="application/*"/> <br>
        <label for="dsp">DSP:</label> <input id="dsp" name="dsp" type="file" accept="application/*"/> <br>
    </p>
    <p>------------------------------------------------------</p>
    <p class="buttons">
      <input type="submit" value="Upload" />
    </p>
    
    </form>
</div>

{{template "footer.html" .}}
